// Non-modular or client styles for .l-header region.

.l-header {}

// Top Bar
//--------------------------------------------------
.top-bar {
	height:auto;
	body.light &{
		background-color:$color_medium_blue;
		border-top:4px solid $color_dark_blue;
	}
	body.dark &{
		background-color:$color_light_blue;
		border-top:4px solid $color_medium_blue;
	}
	.title-area {
		@media #{$small} {
			float:left; 
		}
		li{
			float:left;
		}
		.name{
			h1{
				font-size:2em;
				line-height:inherit;
				padding-top:0.1em;
				a{
					body.light &{
						color:#fff;
					}
					body.dark &{
						color:$color_dark_blue;
					}
				}
			}
		}
	}
}

#logo-svg {
	height:61px;
	width:70px;
	polygon{
		body.light &{
			fill:#fff;
		}
		body.dark &{
			fill:$color_dark_blue;
		}
	}
	&:hover{

	}
}

.top-bar-section {
	ul{
		width:auto !important;
	}
}

.top-bar-section .left {
	&.main-nav{
		background-color: transparent;
		a{
			padding:0 15px;
		}
		a:not(.button){
			font-family:'Yanone Kaffeesatz';
			font-size: 2em;
			line-height: inherit;
			background-color: transparent;

			&:hover{
				background-color: transparent;
			}

			body.light &{
				color:$color_medium_light_blue;

				&.active,
				&:hover{
					color:#fff;
				}
			}
			body.dark &{
				color:$color_medium_blue;

				&.active,
				&:hover{
					color:$color_dark_blue;
				}
			}
		}
	}
}
.top-bar-section .right {}
