@import "zen/base";

/**
 * Mixins
 */

@mixin inline-block{
	display:inline-block;
	*display:inline;
	zoom:1;
}

/**
 * Colors
 */

//Backgrounds
$color-body-background: #000F1E;
$color-page-background: #fff;

//Text
$color-text: #333;