@import "_haproductions";
@import "rgbapng";

#video-quicksearch-form{
	.form-item-search{
		@include inline-block;
	}
	#edit-submit{
		display:none;
	}
}

.node-video{
	&.view-mode-search_result{
		width:256px;
		height:192px;
		overflow:hidden;
		margin-bottom:20px;

		.field-name-field-images{
			height:192px;
			overflow:hidden;
			background-color:#000;
			display:table-cell;
			vertical-align:middle;
		}

	  .overlay{
	    display:none;
	    position:absolute;
	    top:0;
	    left:0;
	    z-index:1000;
	    @include rgba-background-inline(rgba(0,0,0,0.6));
	    width:256px;
	    height:192px;
	    cursor:pointer;
	  }

	  &:hover{
	  	.overlay{
	  		display:block;

	  		.node-title{
	  			width:200px;
	  			font-weight:bold;
	  			font-size:1.2em;
	  			line-height:1.5em;
	  			margin-left:20px;
	  			margin-top:20px;
	  			a{
	  				color:#fff;
	  				text-decoration:none;
	  			}
	  		}
	  	}
	  }
	}
}