@import "_haproductions";

#video-quicksearch-form{
	.form-item-search{
		@include inline-block;
	}
	#edit-submit{
		display:none;
	}
}

.node-video{
	&.view-mode-search_result{
		width:256px;
		height:48px + 192px;
		margin-bottom:20px;

		.node-title{
			text-align:center;
		}
	}
}